data/m4_gaia_source.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
homework/hw_birth-and-movie/data/tmdb_5000_movies.csv filter=lfs diff=lfs merge=lfs -text
homework/hw_birth-and-movie/data/US_births_2000-2014_SSA.csv filter=lfs diff=lfs merge=lfs -text
homework/hw_birth-and-movie/data/tmdb_5000_credits.csv filter=lfs diff=lfs merge=lfs -text
homework/final_NGC-6397-project/data/gaia-NGC6397-neighborhood.csv filter=lfs diff=lfs merge=lfs -text
homework/final_NGC-6397-project/data/NGC6397_iso.csv filter=lfs diff=lfs merge=lfs -text
data/SDSS_stars.csv filter=lfs diff=lfs merge=lfs -text
data/SDSS_wd.csv filter=lfs diff=lfs merge=lfs -text
data/US_births_2000-2014_SSA.csv filter=lfs diff=lfs merge=lfs -text
homework/midterm_gaia-hr-inference-project/data/gaiadr3_solar_neighborhood.csv filter=lfs diff=lfs merge=lfs -text
