absl-py
appnope
arviz
astroml
astropy
asttokens
backcall
cached-property
chex
clu
comm
contextlib2
contourpy
cycler
daft
debugpy
decorator
dm-tree
etils
executing
flax
fonttools
h5netcdf
h5py
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jax
jaxlib
jedi
joblib
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
markdown-it-py
matplotlib
matplotlib-inline
mdurl
ml-collections
ml-dtypes
msgpack
multipledispatch
nest-asyncio
numpy
numpyro
opt-einsum
optax
orbax-checkpoint
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyerfa
Pygments
pymc3
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
rich
scikit-learn
scipy
seaborn
six
stack-data
tensorstore
threadpoolctl
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
wcwidth
widgetsnbextension
wrapt
xarray
xarray-einstats
zipp