../data/gaiadr3_solar_neighborhood.csv filter=lfs diff=lfs merge=lfs -text
../data/SDSS_stars.csv filter=lfs diff=lfs merge=lfs -text
../data/SDSS_wd.csv filter=lfs diff=lfs merge=lfs -text
../data/US_births_2000-2014_SSA.csv filter=lfs diff=lfs merge=lfs -text
../data/m4_gaia_source.csv filter=lfs diff=lfs merge=lfs -text
